<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vacuity</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/fontawesome.css">
    <link rel="stylesheet" href="/static/css/solid.css">
    <link rel="stylesheet" href="/static/css/brands.css">
</head>
<body>
    <nav class="navbar navbar-default mb-3">
        <div class="container">
            <a href="{% if not kiosk %}/{% else %}#{% endif %}" class="navbar-brand ml-auto" style="border: none">Vacuity</a>
        </div>
    </nav>
    <main class="container">
        {% block content %} {% endblock %}
    </main>
{% if feedback_url and not kiosk %}
    <footer class="footer">
        <div class="container">
            <a class="float-right text-muted mr-1" rel="noopener nofollow" target="_blank" href="{{ feedback_url }}">Give Feedback</a>
        </div>
    </footer>
{% endif %}
</body>
</html>
