{% extends 'base.j2.html' %}
{% block content %}

<h1 class="h6 ml-1">{{ description }}</h1>
<div class="list-group">
{% for room in rooms %}
    <a href="{% if not kiosk %}/building/{{ building.identifier|urlencode }}/rooms/{{ room.identifier|urlencode }}{% else %}#{% endif %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <div class="row col align-items-center">
            <h2 class="h4 col mb-0">{{ building.abbreviation }} {{ room.code }}<span class="sr-only">:</span></h2>
            <span class="col-sm">
        {% set lab = room.lab %}
        {% if lab %}
            {% set lab_availability = lab.computer_availability_now %}
            {% set icon = get_icon(lab_availability.summary) %}
                <i class="{{ icon }}" aria-hidden=true></i> {{ lab_availability.available }} PCs available<span class="sr-only">,</span>
        {% endif %}
            </span>
        {% set availability = room.availability_now %}
        {% set icon = get_icon(availability.summary) %}
            <span class="col-sm">
                <i class="{{ icon }}" aria-hidden=true></i> {{ availability.humanized }}
            </span>
        </div>
        {% if not kiosk %}
        <span class="badge badge-primary float-right"><i class="fas fa-chevron-right"></i></span>
        {% endif %}
    </a>
{% else %}
    <h3 class="h4">No rooms matching your criteria were found</h3>
{% endfor %}
<!-- OK color is rgb(1, 167, 1), warning color is rgb(129, 162, 255) -->
</div>

{% endblock content %}
