{% extends 'base.j2.html' %}
{% block content %}

{% if error == "nobldg" %}<p class="alert alert-danger">Please select a building</p>{% endif %}
<p class="ml-1">Vacuity helps you find a space on campus. Select a building and click &quot;View Rooms&quot; to see computer labs for that campus.</p>
<form action="search" method="get">
    <div class="form-group">
        <label class="ml-1" for="building">Building</label>
        <select name="building" id="building" size=7 class="form-control">
        {% for building in buildings %}
            <option value="{{ building.identifier }}">{{ building.description }}</option>
        {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">View Rooms</button>
</form>

{% endblock content %}
