{% extends 'base.j2.html' %}
{% block content %}

<div class="row mb-3">
    <div class="col">
        <h1>{{ building.abbreviation }} {{ room.code }}</h1>
    </div>
</div>
<div class="row mb-2">
{% set room_availability = room.availability_now %}
{% if room_availability %}
    {% set room_icon = get_icon(room_availability.summary) %}
    <div class="col-md-6 mb-3">
        <h2 class="h3">Schedule</h2>
        <i class="{{ room_icon }}" aria-hidden=true></i> {{ room_availability.humanized }}
    </div>
{% endif %}
{% set lab = room.lab %}
{% if lab %}
    {% set lab_availability = lab.computer_availability_now %}
    {% set lab_icon = get_icon(lab_availability.summary) %}
    <div class="col-md-6 mb-3">
        <h2 class="h3">Computers</h2>
        <i class="{{ lab_icon }}" aria-hidden=true></i> {{ lab_availability.available }} PCs available
{% endif %}
    </div>
</div>
<div class="row mb-2">
{% if lab %}
    {% set installed_software = lab.installed_software_names %}
    {% if installed_software %}
    <div class="col-md-4 mb-3">
        <h2 class="h3">Installed software</h2>
        <ul class="list-group list-group-flush">
        {% for software in lab.installed_software_names %}
            <li class="list-group-item">{{ software }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endif %}
</div>

{% endblock content %}
